/* Resetear los márgenes y el relleno del cuerpo */
body {
  margin: 0;
  padding: 0;
  background-color: #732C02;
}

/* Establecer un ancho y alto del juego al 100% de la ventana */
#game-container {
  width: 100vw*0.9; /* Usar vw para el ancho */
  height: 100vh*0.9; /* Usar vh para la altura */
  background-color: #F2E18D;
  border: none;
  display: flex; /* Utilizar flex para centrar contenido */
  justify-content: center;
  align-items: center;
}
